
body 
{
    background-image: url('Fon_1.png'); /* Путь к изображению */
    background-repeat: no-repeat; /* Не повторять изображение */
    background-size: cover; /* Масштабировать изображение, чтобы покрыть весь фон */
    background-position: center; /* Центрировать изображение */
}

.container {
  padding: 0 40px;
  margin-left: 80px;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.2em;
  position: relative;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color:#090807;
}

  /* Этим свойством добавляем подчеркивание через создание псевдокласса */
a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  border-bottom: 1px solid #dadada;
  width: 300px;
}
p {
  font-size: 1.5em;
}

h1 {
  font-size: 3em;
  color: #1b2632
}

h2 {
  font-size: 1.5em;
  margin: 1.25em 0;
}

  /* Свойства фотографии*/
.photo {
  border-radius: 20px;
  /* Радиус скругления */
  border: 2px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 3px solid #ffd700;
}

